<div class="row">
  <div class="col-xs-12">
    <h3>
      Hamster Detail
    </h3>
    <img src="{{selectedHamster?.imagePath}}" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedHamster?.name}}</h1>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onAdd()">To Shopping List</button>
    <button class="btn btn-primary" (click)="onEdit()">Edit</button>
    <button class="btn btn-danger" (click)="onDelete()">Delete</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p>{{selectedHamster?.description}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3 *ngIf="selectedHamster">Abilities</h3>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of selectedHamster?.abilities">{{item.name}}</li>
    </ul>

  </div>
</div>
